html {
  font-size: 5vh;
  
}

@media (min-width: 768px) {
    html {
        font-size: 3vh;

    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 3vh;
    background-image: url('../assets/BGBG.jpg');
    background-size: 100%;
    font-family: Georgia;
    color: #f2f6f8;
}

main {
    background-color: rgb(9, 67, 103, 0.84);
}

h1 {
    font-family: Broadway;
    font-size: 8vh;
    color: #f2f6f8;
}


a {
    font-size: 4vh;
    color: lightcoral;
    text-decoration: none;
}

a:hover {
        color: #565656;
        text-decoration: none;
        font-size: 4vh;
    }

nav a {
    font-size: 3vh;
}

nav a:hover {
    font-size: 4vh;
}

