@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">My Event Tracker</h1>
    <p>Welcome to the app that lets you store past, present, and future Events and the memories or reminders to go along with them!</a></p>
</div>
